.image-text-container {
    display: flex;
    align-items: flex-start;
}

.project-image img {
    width: 160px; 
    height: auto;
    margin-right: 20px;
}

.project-description {
    flex: 1;
}

@media (max-width: 768px) {
    .image-text-container {
        flex-direction: column;
        align-items: center;
    }

    .project-image img {
        width: 100% !important;
        height: auto; 
        max-width: 400px; 
        margin: 10px;
    }
}
